<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pollubprojektmobilne3">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PollubProjektMobilne3">
        <activity android:name=".AddSmartphoneActivity"></activity>

        <provider
            android:name=".MyContentProvider"
            android:authorities="com.example.pollubprojektmobilne3.MyContentProvider"
            android:enabled="true"
            android:exported="true" />
        <!--
android:enabled - whether the system can create a provider instance
            android:exported - true = available for other applications, false = available for application with the same user ID
            TODO: android:exported should be false?
        -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>